<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/pages/static/detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">


    <title>책 정보 페이지 📚</title>

    <script>
        $(document).ready(function () {
            show_book();
            listing()
        });

        function show_book() {
            let query = window.location.search;
            let param = new URLSearchParams(query);
            let id = param.get("id");
            console.log(id)

            $.ajax({
                type: "GET",
                url: "/detail/detail",
                data: {},
                success: function (response) {
                    console.log(response["book"])
                    let rows = (response)["book"]
                    let fid = rows.findIndex(v => v.title === id);
                    console.log(fid)

                    let rank = rows[fid]['rank']
                    let title = rows[fid]['title']
                    let writer = rows[fid]['writer']
                    let score = rows[fid]['score']
                    let image = rows[fid]['image']
                    let story = rows[fid]['story']

                    temp_image = `<img src="${image}" alt="표지">`

                    $('#image').append(temp_image)


                    let temp1 = `<div style="display: flex; align-items: center; height: 50px; margin-bottom: 5px">
                                     <h1>${title}</h1>
                                     <h5 style="margin-left: 20px">${writer}</h5>
                                 </div>
                                <span class="book_name">${story}</span>`

                    $('#body_data').append(temp1)


                }

            });
        }

        function posting() {
            let query = window.location.search;
            let param = new URLSearchParams(query);
            let id = param.get("id");
            let comment = $("#comment").val();
            let star = $("#star").val();
            let date = new Date().toLocaleDateString();


            $.ajax({
                type: "POST",
                url: "/detail/comment",
                data: {
                    star_give: star,
                    comment_give: comment,
                    id_give: id,
                    date_give: date
                },
                success: function (response) {
                    console.log("posting ")
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function listing() {
            $.ajax({
                type: "GET",
                url: "/detail/comment",
                data: {},
                success: function (response) {
                    let comments = response["book_comment"]
                    console.log(comments)
                    for (let i = 0; i < comments.length; i++) {
                        let query = window.location.search;
                        let param = new URLSearchParams(query);
                        let ids = param.get("id");
                        let id_comment = comments[i]["id"]
                        let book_comment = comments[i]["comment"]
                        let star_comment = comments[i]["star"]
                        let date = comments[i]["date"]

                        let star_image = '⭐'.repeat(star_comment)

                        console.log("get id" + ids)

                        if (ids === id_comment) {
                            temp_comment = `<div class="card3">
                                                 <p class="comment-item">
                                                    <span>${star_image}</span> <span>${date}<</span>
                                                 </p>
                                                 <span>${book_comment}</span>
                                            </div>`

                            $('#book_comment').append(temp_comment)
                        }
                    }
                }
            })
        }

    </script>
</head>
<body>
<div class='container' style="display: flex; flex-direction: column">
    <div class="btn-group" style="margin-bottom: 10px;">
            <button style="background-color: #77aaee; border-radius: 10px;" onclick="window.location.href='/'">HOME</button>
            <button style="background-color: white; border-radius: 10px;" onclick="window.location.href='/ranking'">BACK</button>
        </div>
    <div class='window'>
        <div class='order-info'>
            <div class='order-info-content'>
                <div class='line'></div>
                <table class='order-table'>
                    <tbody>
                    <tr>
                        <td>
                            <div class="card1" id="image">

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class='line'>
                </div>
                <div class='total' id="body_data">

                </div>
            </div>
        </div>
        <div class='credit-info'>
            <div class='credit-info-content'>
                <table class='half-input-table'>
                    <tr>
                        <td>Comments:</td>
                    </tr>
                </table>
                <div class="commentbox" id="book_comment">

                </div>
                별점:
                <div class="input-group mb-3">
                    <select class="input-field" id="star">
                        <option selected>-- 선택하기 --</option>
                        <option value="1">⭐</option>
                        <option value="2">⭐⭐</option>
                        <option value="3">⭐⭐⭐</option>
                        <option value="4">⭐⭐⭐⭐</option>
                        <option value="5">⭐⭐⭐⭐⭐</option>
                    </select>
                </div>
                댓글입력:
                <input id="comment" class='input-field'></input>
                <button class='pay-btn' onclick="posting()">등록하기</button>

            </div>

        </div>
    </div>
</div>

</body>
</html>