<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='{{ url_for("static", filename="style.css") }}' rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>


    <title>오늘의 책📚</title>
    <script>
        function login() {
            setTimeout(function (){
                window.location.href = '/login';
            },800)
        }

    </script>
</head>
<body>

<h1>오늘의 책📚</h1>
<h3>Today's book</h3>


<button class="w-btn w-btn-gray" type="button" onclick="Confirm();">
    Sign-in & Join




<div class="imgLoader"></div>

<div class="container">

    <h1 class="title">
        마음의 양식을<br>전합니다.
    </h1>

    <div class="credit">
        * Images loaded randomly from Picsum.photos
    </div>

    <div class="book">
        <div class="gap"></div>
        <div class="pages">
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
            <div class="page"></div>
        </div>
        <div class="flips">
            <div class="flip flip1">
                <div class="flip flip2">
                    <div class="flip flip3">
                        <div class="flip flip4">
                            <div class="flip flip5">
                                <div class="flip flip6">
                                    <div class="flip flip7"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="https://github.com/Camof1ow/todays_book" class="twitterLink" target="_top">
    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"/>
</a>
</button>

</body>
</html>