<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function login() {
            alert("로그인하기")
            window.location.href = '/login'
        }

        function signup() {
            alert("회원가입 하기")
            window.location.href = '/signup'
        }
    </script>
</head>
<body>

<h1>hello world</h1>
<h3>this is index page</h3>
<button onclick="login()">로그인하기</button>
<button onclick="signup()">회원가입하기</button>

</body>
</html>