<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의책</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/loginStyle.css">
    <script>
        function toStartPage() {
            window.location.href = "/"
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘의책</title>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <!-- css추가 -->
    <link rel="stylesheet" type="text/css" href="../static/loginStyle.css">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        {#지울거임}

        function toStartPage() {
            window.location.href = "/"
            alert("로그인을 취소했습니다.")
        }

        function toMainPage() {
            window.location.href = "/main"
            alert("환영합니다 name 님")
        }

        {#요고부터시작합니다}
        //로그인 시작
        { if msg }
            alert("{{ msg }}")
        {% endif %}
        function login() {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {id_give: $('#userid').val(), pw_give: $('#userpw').val(), nickname_give: $('#usernic').val()},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                        // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                        $.cookie('mytoken', response['token']);

                        alert(' 환영합니다 {{ nic }}님! ')
                        window.location.href = '/main'
                    } else {
                        // 로그인이 안되면 에러메시지를 띄웁니다.
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
</head>
<body>
<div class="wrap">
    <div class="login">
        <h1>Log-in</h1>
        <div class="login_id">
            <h4>아이디</h4>
            <input type="email" name="" id="" placeholder="아이디">
        </div>
        <div class="login_pw">
            <h4>비밀번호</h4>
            <input type="password" name="" id="" placeholder="비밀번호">
        </div>
        <div class="loginbtn">
            <div class="submit">
                <button>로그인</button>
            </div>
            <div class="cancel">
                <button onclick="toStartPage()">취소</button>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="login">
        <h1>Log-in</h1>
        <div class="login_id">
            <h4>아이디</h4>
            <input type="email" name="" id="userid" placeholder="아이디">
        </div>
        <div class="login_pw">
            <h4>비밀번호</h4>
            <input type="password" name="" id="userpw" placeholder="비밀번호">
        </div>
        <div class="loginbtn">
            <div class="submit">
                <button onclick="toMainPage()">로그인</button>
            </div>
            <div class="cancel">
                <button onclick="toStartPage()">취소</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>