<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='{{ url_for("static", filename="main.css") }}' rel="stylesheet">
    <title>오늘의 책📚</title>
    <script>

    </script>
</head>
<body>
<div class="firework"></div>
<div class="firework"></div>
<div class="firework"></div>
<div class="container">
    <div class="info">
        오늘은 바로!
    </div>
    <div class="mobile-layout">

        <div class="actions">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="book-cover">
            <img class="book-top" src="https://bookthumb-phinf.pstatic.net/cover/224/859/22485918.jpg?udate=20220706"
                 width="200" height="252" alt="book-top"/>
            <img class="book-side"
                 src="https://raw.githubusercontent.com/atomic-variable/images-repo/e37f432405904a280858e5437ce1960753bc78a3/book-side.svg"
                 alt="book-side"/>
        </div>
        <div class="preface">
            <div class="content">
                <div class="header">
                    <div class="title">역행자</div>
                    <div class="icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="author">저자 자청</div>
                <div class="body">
                    <p>
                        “절대 읽지 마라! 죽을 때까지 순리자로 살고 싶다면!”

                        오타쿠 흙수저에서
                        월 1억 자동 수익을 실현한 무자본 연쇄창업마,
                        라이프해커 자청의 인생 역주행 공식 대공개!
                    </p>
                    <p>
                       대부분의 사람들은 유전자와 본성의 명령을 그대로 따르기 때문에 평범함을 벗어날 수 없다. 하지만 정작 자신은 이를 모른 채 ‘나는 달라’ 하는 자의식에 사로잡혀서 무한 합리화에 빠져 살아간다. 스스로가 얼마나 많은 정신적, 심리적 오류를 저지르는지 알지 못한 채 매일 똑같은 쳇바퀴를 돌 뿐이다. 왜 우리는 진짜 자유를 얻지 못하는가? 왜 늘 돈 이야기를 하면서도 평생 돈에 허덕이는가?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>