<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='{{ url_for("static", filename="main.css") }}' rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>오늘의 책📚</title>


</head>
<body>

<div class="firework"></div>
<div class="firework"></div>
<div class="firework"></div>

<div class="container">
    <button class="w-btn w-btn-skin" type="button" onclick="window.location.href='/ranking'">
        다른책 보러가기
    </button>
    <div id="Section">
        <div class="info">
            오늘의 {{ book['rank'] }}위!
        </div>
        <div class="mobile-layout">

            <div class="actions">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-bookmark"></i>
            </div>
            <div class="book-cover">
                <img class="book-top" src="{{ book['image'] }}"
                     width="200" height="252" alt="book-top"/>
                <img class="book-side"
                     src="https://raw.githubusercontent.com/atomic-variable/images-repo/e37f432405904a280858e5437ce1960753bc78a3/book-side.svg"
                     alt="book-side"/>
            </div>
            <div class="preface">
                <div class="content">
                    <div class="header">
                        <div class="title">{{ book['title'] }}</div>
                        <div class="icon">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>
                    <div class="author">저자 {{ book['writer'] }}</div>
                    <div class="body">
                        {{ book['story'] }}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>