<!doctype html>
<html lang="en">

<head>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='{{ url_for("static", filename="main.css") }}' rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>오늘의 책📚</title>



    <script>
        $(document).ready(function () {
            show();
        });

        function show() {
            $.ajax({
                type: "GET",
                url: "/ranking/rank",
                data: {},
                success: function (response) {
                    console.log(response)



                }
            })
        }
    </script>
</head>
<style>
    * {
        font-family: 'Black Han Sans', sans-serif;
        font-family: 'Cute Font', cursive;
        font-family: 'Do Hyeon', sans-serif;
        font-family: 'Hahmlet', serif;
        font-family: 'Single Day', cursive;
    }

    .wrap {
        width: 900px;
        margin: auto;
    }

    .container {
        padding-left: 50px;
    }

    .main-page {
        margin-top: 20px;
    }
</style>

<body>
<div class="wrap">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>오늘의 책📚 Top25</h1>
            <div class="main-page">
                <button onclick="main-page()" type="button" class="btn btn-light">Main page</button>
            </div>
        </div>
    </div>
    <div class="card-columns" id="cards-box">



    </div>
</div>
</body>

</html>