<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='{{ url_for("static", filename="ranking.css") }}' rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>오늘의 책📚</title>

    <style>
        img {
            filter: brightness(70%);
        }
    </style>


</head>

<body>

<div class="btns">
    <button class="w-btn w-btn-gray" type="button" onclick="window.location.href = '/';">
        홈으로
    </button>

    <button class="w-btn w-btn-skin" type="button" onclick="window.location.href = '/main'">
        다시 추천 받기
    </button>
</div>


<div id="vueBind" class="container">
    {% for row in rows %}

        <a href="/detail?id={{ row['title'] }}" class="card">
            <div class="imgBox">
                <img src="{{ row['image'] }}" :alt="{{ row['title'] }}">
            </div>
            <div class="content">
                <div class="contentBox">

                    <h3>{{ row['rank'] }}위<br>{{ row['title'] }}<br><span>{{ row['writer'] }}</span></h3>
                </div>

                </ul>
            </div>
        </a>

    {% endfor %}
</div>

</section>
</body>

</html>