<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='{{ url_for("static", filename="ranking.css") }}' rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>오늘의 책📚</title>



</head>

<body>

<section class="info">
    <h1>오늘의 책📚 </h1>
</section>
<section class="cards-wrapper" id="Section">
    {% for row in rows %}
    <div class="card-grid-space">
        <div class="num">{{ row['rank'] }}위</div>
        <a class="card" href="/detail?id={{ row['title'] }}"
           style="--bg-img: url({{ row['image'] }})">
            <div>
                <h2>{{ row['title'] }}</h2>
                <p>{{ row['story'] }}</p>
                <p>평점 {{ row['score'] }}</p>

            </div>
        </a>
    </div>
    {% endfor %}


</section>
</body>

</html>